<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="tags for website">
    <meta name="description" content="This is the home page.">
    <meta name="author" content="">
    
    <title> Home - Home </title>
    
    <!-- injector:css -->
    <link rel="stylesheet" href="css/design.min.css">
    <!-- endinjector -->
    
    <!-- injector:js -->
    <script src="js/min/assets/jquery.min.js"></script>
    <script src="js/min/assets/bootstrap.min.js"></script>
    <script src="js/min/assets/vide.min.js"></script>
    <script src="js/min/app.min.js"></script>
    <!-- endinjector -->
</head>
<body>


<section class="section-underconstruction">
    <div id="videoblock" style="width: 100%; height: 100%"></div>
    <div class="jumbotron jumbotron-underconstruction text-center text-white text-uppercase  nr bg-trns center-block">
        <p class="jumbotron-desc font-p-n-b"><span>our new website</span></p>
        <h1 class="jumbotron-title font-intro-i nm-t">under construction</h1>
        <div class="progress progress-project nr">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="">
                <span class="sr-only">80% Complete</span>
            </div>
        </div>
        <ul class="nav nav-progress text-white text-left font-p-n-l">
            <li class="text-left">0%</li>
            <li class="text-center">50%</li>
            <li class="text-right">100%</li>
        </ul>
        <ul class="nav nav-social-list text-center center-block">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>
    </div>
</section>

<script src="//localhost:35729/livereload.js"></script>
</body>
</html>