<html lang="en" class="desktop landscape">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        </script>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <title>Home</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/camera.css" rel="stylesheet">
        <link href="css/jquery.fancybox.css" rel="stylesheet">
        <link href="css/subscribe.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="js/jquery.js"></script>
        <style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <!--[if lt IE 9]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
            </a>
        </div>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        <script src="js/device.min.js"></script>
        <style type="text/css">.fancybox-margin{margin-right:15px;}</style>
    </head>
    <body>
        <div class="page">
            <header class="clearfix">
                <div id="stuck_container" class="stuck_container clearfix">
                    <nav class="navbar navbar-default navbar-static-top clearfix">
                        <div class="container">
                            <div class="navbar-header">
                                <h1 class="navbar-brand">
                                    <a data-type="rd-navbar-brand" href="./">School District
                                    </a>
                                </h1>
                            </div>
                            <ul class="inline-list">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                            </ul>
                            <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                                <li class="active">
                                    <a href="./">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="index-1.html" class="sf-with-ul">About District </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a href="#"> Who we are</a>
                                        </li>
                                        <li>
                                            <a href="#">Departments</a>
                                        </li>
                                        <li>
                                            <a class="act sf-with-ul" href="#">Schools</a>
                                            <ul class="dropdown-menu" style="display: none;">
                                                <li><a href="#">Business Department</a></li>
                                                <li><a href="#">Community Schools</a></li>
                                                <li><a href="#">Curriculum Office</a></li>
                                                <li><a href="#">Federal Programs</a></li>
                                                <li><a href="#">Food Services</a></li>
                                                <li><a href="#">Maintenance and Operations</a></li>
                                                <li><a href="#">Nursing Services</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Staff</a>
                                        </li>
                                        <li>
                                            <a href="#">Calendars &amp; news </a>
                                        </li>
                                        <li>
                                            <a href="#">Useful Links</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index-2.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="index-3.html">News</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="stuck_container" class="stuck_container clearfix isStuck" style="top: -60px; visibility: hidden; position: fixed; width: 100%; margin-top: 0px;">
                    <nav class="navbar navbar-default navbar-static-top clearfix">
                        <div class="container">
                            <div class="navbar-header">
                                <h1 class="navbar-brand">
                                    <a data-type="rd-navbar-brand" href="./">School District
                                    </a>
                                </h1>
                            </div>
                            <ul class="inline-list">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                            </ul>
                            <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                                <li class="active">
                                    <a href="./">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="index-1.html" class="sf-with-ul">About District </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a href="#"> Who we are</a>
                                        </li>
                                        <li>
                                            <a href="#">Departments</a>
                                        </li>
                                        <li>
                                            <a class="act sf-with-ul" href="#">Schools</a>
                                            <ul class="dropdown-menu" style="display: none;">
                                                <li><a href="#">Business Department</a></li>
                                                <li><a href="#">Community Schools</a></li>
                                                <li><a href="#">Curriculum Office</a></li>
                                                <li><a href="#">Federal Programs</a></li>
                                                <li><a href="#">Food Services</a></li>
                                                <li><a href="#">Maintenance and Operations</a></li>
                                                <li><a href="#">Nursing Services</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Staff</a>
                                        </li>
                                        <li>
                                            <a href="#">Calendars &amp; news </a>
                                        </li>
                                        <li>
                                            <a href="#">Useful Links</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index-2.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="index-3.html">News</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <section class="well2">
                    <div class="container">
                        <h2>Current News</h2>
                        <article>
                            <div class="article_header">
                                <time class="h3" datetime="2015-01-01">12/09</time>
                                <h3>Congratulations to our P.R.I.D.E. Winners</h3>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                                    <figure class="thumbnail">
                                        <a href="#"><img src="images/page-4_img01.jpg" alt=""></a>
                                    </figure>
                                </div>
                                <div class="col-md-7 col-sm-6 col-xs-12">
                                    <p>Congratulations to Teresa Budd from Page Middle School and Mariah Yazzie from Manson Mesa High School, two of our November P.R.I.D.E. recipients! Along with Michele
                                        Calnimptewa from Desert View Intermediate, Ms. Budd received Personal Recognition In District Education (PRIDE) to share the outstanding efforts of our certified and classified staff. Each school also recognizes those students who are Positive, Respectful, Involved, Determined, and Excellent (PRIDE) in the way they act and go about the business of learning. Congratulations to Keegan Dodson, Bronson Hicks, Sheldon Manymules, and Rachel Stice for demonstrating PRIDE in their education.
                                    </p>
                                </div>
                            </div>
                        </article>
                        <div class="container">
                            <hr>
                        </div>
                        <article>
                            <div class="article_header">
                                <time class="h3" datetime="2015-01-01">17/09</time>
                                <h3>Beat the Winter Blues with Community Education - Now Enrolling</h3>
                            </div>
                            <p>Community Education, the School District's lifelong learning program, is currently taking enrollment for our popular winter session of classes.
                                Our class catalog can be found inserted into the Sunday, January 3, 2016 Idaho Statesman (subscribers only), mailed to local residents (by January 8, 2016), in Boise Public Library branches, online at www.boiselearns.org, or click on the course catalog image below. Click here to review a PDF of the catalog. Winter session runs
                                January 25th through March 17th. Register up to the night a class begins (space permitting). Registration continues through the end of the session. 
                            </p>
                        </article>
                    </div>
                </section>
                <section class="well6 bg-primary">
                    <div class="container center767">
                        <h2>Upcoming Board Meetings</h2>
                        <div class="row offs3">
                            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.6s; animation-name: none;">
                                <article class="block-icon block-icon__mod white">
                                    <span class="material-icons-school"></span>
                                    <div class="block_caption">
                                        <h3> Math Informational Meetings</h3>
                                        <p>The School District's Math Department will
                                            hold a number of brief informational meetings this month to help parents of 5th and 6th grade
                                            students better understand the possible.
                                        </p>
                                        <a href="#" class="btn btn-default">Read More</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.4s; animation-name: none;">
                                <article class="block-icon block-icon__mod white">
                                    <span class="material-icons-vpn_key "></span>
                                    <div class="block_caption">
                                        <h3>Montessori Program</h3>
                                        <p>The School District's Public Montessori
                                            program is accepting applications from now until February 12th. The program is offered at Liberty Elementary School.
                                        </p>
                                        <a href="#" class="btn btn-default">Read More</a>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                                <article class="block-icon block-icon__mod white">
                                    <span class="material-icons-work "></span>
                                    <div class="block_caption">
                                        <h3>Students Computer Coding</h3>
                                        <p>A number of School District’s schools
                                            participated in Hour of Code activities on Wednesday, December 9th, including students at Garfield Elementary School. 
                                        </p>
                                        <a href="#" class="btn btn-default">Read More</a>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="well2">
                    <div class="container center767">
                        <h2>Did You Know?</h2>
                        <article class="row offs">
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <h3 class="text-primary">2015 Annual &amp; Five Year Developer
                                    Fee Report 
                                </h3>
                                <p>Each year the District provides to the public information on impact fees received from new
                                    residential and commercial/industrial development. The 2015 Annual &amp; Five Year Developer Fee Report documents the collection and expenditure of developer fees used to mitigate the impact of new development on the school facilities.
                                </p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <figure class="thumbnail">
                                    <a href="#"><img src="images/page-4_img02.jpg" alt=""></a>
                                </figure>
                            </div>
                        </article>
                    </div>
                </section>
                <section class="parallax parallax2 well5" data-url="images/parallax3.jpg" data-mobile="true">
                    <div class="parallax_image" style="background-image: url(&quot;images/parallax3.jpg&quot;); background-color: inherit; height: 724px;"></div>
                    <div class="parallax_cnt">
                        <div class="container text-right center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                            <h1>Providing students <br>
                                scrupulous academics
                            </h1>
                            <p>Enough said about the higher education. What does being educated mean for kids?
                                <br>Studies show that early childhood education yields significant long-term benefits. 
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </section>
                <section class="well2">
                    <div class="container">
                        <h2>Career Opportunities</h2>
                        <div class="row offs">
                            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                                <figure class="thumbnail">
                                    <a href="#"><img src="images/page-4_img03.jpg" alt=""></a>
                                </figure>
                                <h3 class="text-primary"><a href="#">Teachers Needed!</a></h3>
                                <p>Opportunities to teach at the beach are available throughout the entire school year. Our mission is to fill our nearly 13,000 teacher positions.</p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.4s; animation-name: none;">
                                <figure class="thumbnail">
                                    <a href="#"><img src="images/page-4_img04.jpg" alt=""></a>
                                </figure>
                                <h3 class="text-primary"><a href="#">Recruitment</a></h3>
                                <p>The School District is far from your average school system. We actively seek and recruit the most
                                    promising teachers on a national level. 
                                </p>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.6s; animation-name: none;">
                                <figure class="thumbnail">
                                    <a href="#"><img src="images/page-4_img05.jpg" alt=""></a>
                                </figure>
                                <h3 class="text-primary"><a href="#">Hiring Process Overview</a></h3>
                                <p>The hiring process to become a teacher can begin in more than one way. All candidates must submit an online application. </p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <section class="clearfix well4">
                    <div class="container">
                        <div class="contact pull-left">
                            <span class="material-icons-location_on"></span>
                            <address class="h4 text-primary">New York, 4578 Marmora Road, <br>
                                Glasgow D04 89GR
                            </address>
                        </div>
                        <div class="contact pull-right">
                            <span class="material-icons-local_phone"></span>
                            <a href="callto:#">800-2345-6789; </a>
                            <a href="callto:#"> 800-2345-6790</a>
                            <p class="offs">7 days a week from 8:00 am to 7:00 pm</p>
                        </div>
                    </div>
                </section>
                <hr>
                <div class="container">
                    <p class="copyright">
                        <a href="#">School District </a> © <span id="copyright-year">2017</span>.
                        <a class="text-primary" href="index-5.html">Privacy Policy</a>
                    </p>
                </div>
            </footer>
        </div>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/tm-scripts.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/tmstickup.js"></script>
        <script src="js/jquery.ui.totop.js"></script>
        <script src="js/superfish.js"></script>
        <script src="js/jquery.rd-navbar.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/jquery.mobile.customized.min.js"></script>
        <script src="js/camera.js"></script>
        <script src="js/mailform/jquery.rd-input-label.js"></script>
        <script src="js/mailform/jquery.form.min.js"></script>
        <script src="js/mailform/jquery.rd-mailform.min.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <script src="js/jquery.fancybox-media.js"></script>
        <script src="js/jquery.fancybox-buttons.js"></script>
        <script src="js/jquery.ui.accordion.min.js"></script>
        <script src="js/jquery.rd-parallax.js"></script>
        <!-- End Google Tag Manager -->
        <a href="#" id="toTop" class="toTop fa fa-angle-up" style="display: none;"></a>
        <div class="rd-mobilemenu">
            <ul class="rd-mobilemenu_ul">
                <li class="active"><a href="./">Home</a></li>
                <li>
                    <a href="index-1.html" class="rd-with-ul">About District <span class="rd-submenu-toggle"></span></a>
                    <ul class="rd-mobilemenu_submenu" style="display: none;">
                        <li>
                            <a href="#"> Who we are</a>
                        </li>
                        <li>
                            <a href="#">Departments</a>
                        </li>
                        <li>
                            <a class="act" href="#">Schools</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Business Department</a></li>
                                <li><a href="#">Community Schools</a></li>
                                <li><a href="#">Curriculum Office</a></li>
                                <li><a href="#">Federal Programs</a></li>
                                <li><a href="#">Food Services</a></li>
                                <li><a href="#">Maintenance and Operations</a></li>
                                <li><a href="#">Nursing Services</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Staff</a>
                        </li>
                        <li>
                            <a href="#">Calendars &amp; news </a>
                        </li>
                        <li>
                            <a href="#">Useful Links</a>
                        </li>
                    </ul>
                </li>
                <li><a href="index-2.html">Gallery</a></li>
                <li><a href="index-3.html">News</a></li>
                <li><a href="index-4.html">Contacts</a></li>
            </ul>
        </div>
        <div class="rd-mobilepanel">
            <button class="rd-mobilepanel_toggle"><span></span></button>
            <h2 class="rd-mobilepanel_title">School District</h2>
        </div>
    </body>
</html>