{% extends "index.html" %}
{% load static %}
{% block index %}
<main>
    <section class="well2">
        <div class="container">
            <h2>{{ object.title }}</h2>
            {% for news in cat_feed %}
            <article>
                <div class="article_header">
                    <time class="h3" datetime="2015-01-01">{{ news.date }}</time>
                    <h3>{{ news.title }}</h3>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                        <figure class="thumbnail">
                            {% if news.get_images %}
                                {% for img in news.get_images %}
                                 <a href=""><img src="/media/{{ img.image }}" alt="{{ img.image.name }}"></a>
                                {% endfor %}
                            {% else %}
                            <a href="#"><img src="{% static 'images/page-1_img01.jpg' %}" alt=""></a>
                            {% endif %}
                        </figure>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        {{ news.content|safe }}
                    </div>
                </div>
            </article>
            <div class="container">
                <hr>
            </div>
            {% empty %}
            <div class="container">
                <br><br><br>
                <h4>Bu kateqoriyaya aid xəbər yoxdur</h4>
            </div>
            {% endfor %}
            <!--<article>
                <div class="article_header">
                    <time class="h3" datetime="2015-01-01">17/09</time>
                    <h3>Beat the Winter Blues with Community Education - Now Enrolling</h3>
                </div>
                <p>Community Education, the School District's lifelong learning program, is currently taking enrollment for our popular winter session of classes.
                    Our class catalog can be found inserted into the Sunday, January 3, 2016 Idaho Statesman (subscribers only), mailed to local residents (by January 8, 2016), in Boise Public Library branches, online at www.boiselearns.org, or click on the course catalog image below. Click here to review a PDF of the catalog. Winter session runs
                    January 25th through March 17th. Register up to the night a class begins (space permitting). Registration continues through the end of the session.
                </p>
            </article>-->
        </div>
    </section>
    <!--<section class="well6 bg-primary">
        <div class="container center767">
            <h2>Upcoming Board Meetings</h2>
            <div class="row offs3">
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.6s; animation-name: none;">
                    <article class="block-icon block-icon__mod white">
                        <span class="material-icons-school"></span>
                        <div class="block_caption">
                            <h3> Math Informational Meetings</h3>
                            <p>The School District's Math Department will
                                hold a number of brief informational meetings this month to help parents of 5th and 6th grade
                                students better understand the possible.
                            </p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.4s; animation-name: none;">
                    <article class="block-icon block-icon__mod white">
                        <span class="material-icons-vpn_key "></span>
                        <div class="block_caption">
                            <h3>Montessori Program</h3>
                            <p>The School District's Public Montessori
                                program is accepting applications from now until February 12th. The program is offered at Liberty Elementary School.
                            </p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                    <article class="block-icon block-icon__mod white">
                        <span class="material-icons-work "></span>
                        <div class="block_caption">
                            <h3>Students Computer Coding</h3>
                            <p>A number of School District’s schools
                                participated in Hour of Code activities on Wednesday, December 9th, including students at Garfield Elementary School.
                            </p>
                            <a href="#" class="btn btn-default">Read More</a>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
    <section class="well2">
        <div class="container center767">
            <h2>Did You Know?</h2>
            <article class="row offs">
                <div class="col-md-7 col-sm-6 col-xs-12">
                    <h3 class="text-primary">2015 Annual &amp; Five Year Developer
                        Fee Report
                    </h3>
                    <p>Each year the District provides to the public information on impact fees received from new
                        residential and commercial/industrial development. The 2015 Annual &amp; Five Year Developer Fee Report documents the collection and expenditure of developer fees used to mitigate the impact of new development on the school facilities.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <figure class="thumbnail">
                        <a href="#"><img src="images/page-4_img02.jpg" alt=""></a>
                    </figure>
                </div>
            </article>
        </div>
    </section>
    <section class="parallax parallax2 well5" data-url="images/parallax3.jpg" data-mobile="true">
        <div class="parallax_image" style="background-image: url(&quot;images/parallax3.jpg&quot;); background-color: inherit; height: 724px;"></div>
        <div class="parallax_cnt">
            <div class="container text-right center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                <h1>Providing students <br>
                    scrupulous academics
                </h1>
                <p>Enough said about the higher education. What does being educated mean for kids?
                    <br>Studies show that early childhood education yields significant long-term benefits.
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
            </div>
        </div>
    </section>
    <section class="well2">
        <div class="container">
            <h2>Career Opportunities</h2>
            <div class="row offs">
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.2s; animation-name: none;">
                    <figure class="thumbnail">
                        <a href="#"><img src="images/page-4_img03.jpg" alt=""></a>
                    </figure>
                    <h3 class="text-primary"><a href="#">Teachers Needed!</a></h3>
                    <p>Opportunities to teach at the beach are available throughout the entire school year. Our mission is to fill our nearly 13,000 teacher positions.</p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.4s; animation-name: none;">
                    <figure class="thumbnail">
                        <a href="#"><img src="images/page-4_img04.jpg" alt=""></a>
                    </figure>
                    <h3 class="text-primary"><a href="#">Recruitment</a></h3>
                    <p>The School District is far from your average school system. We actively seek and recruit the most
                        promising teachers on a national level.
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: hidden; animation-duration: 2s; animation-delay: 0.6s; animation-name: none;">
                    <figure class="thumbnail">
                        <a href="#"><img src="images/page-4_img05.jpg" alt=""></a>
                    </figure>
                    <h3 class="text-primary"><a href="#">Hiring Process Overview</a></h3>
                    <p>The hiring process to become a teacher can begin in more than one way. All candidates must submit an online application. </p>
                </div>
            </div>
        </div>
    </section>-->
</main>
{% endblock %}
