{% extends "index.html" %}
{% load static %}
{% block index %}
<main>
    <section class="well2">
        <div class="container">
            <div class="row">
                <article class="col-md-4 col-sm-12 center767">
                    <h2>
                        Bizim haqqımızda məlumat
                    </h2>
                    <div class="thumbnail">
                        <a href="#"><img class="" src="/static/images/komanda.jpg" alt="Çox əvvəldən ..."></a>
                    </div>
                    <h3 class="text-primary">
                        Çox əvvəldən ...
                    </h3>
                    <p>
                        2014 cu ildə Azərbaycan Dövlət Neft Akademiyası na yüksək balla daxil olduq. Təhsilimizi İnformasiya və texnologiyalari sistemləri mühəndisliyində davam etdiririk. O vaxdan bir sıra programlaşdırma dilləri öyrəndik...
                    </p>
                </article>
                <div class="col-md-4  col-sm-6">
                    <h2>
                        Faydalı məlumatlar
                    </h2>
                    <div class="block-icon block-icon__skin">
                        <div class="icon">
                            <span class="material-icons-access_time "></span>
                        </div>
                        <h3 class="text-primary"><a href="#">Bizim missiyamız</a></h3>
                        <p>Bizim məqsədimiz informasiya texnologiyalarına maraq yaradan gənclərimiz bir araya yığmaqdı.</p>
                    </div>
                    <div class="block-icon block-icon__skin">
                        <div class="icon">
                            <span class="material-icons-attach_file"></span>
                        </div>
                        <h3 class="text-primary"><a href="#">Hədəfimiz</a></h3>
                        <p>Bunun üçün belə bir portal qurmaq,
                            programlaşdırmada yaranacaq çətinlikləri müzəkirə etmək,
                            bu problemləri aradan qaldırmaq
                        </p>
                    </div>
                    <div class="block-icon block-icon__skin">
                        <div class="icon">
                            <span class="material-icons-card_giftcard"></span>
                        </div>
                        <h3 class="text-primary"><a href="#"></a>Bizim dəyərlərimiz</h3>
                        <p>Bunun üçün bir neçə sadə program tərtib etmişik
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h2>
                        İnamımız
                    </h2>
                    <p>
                        Daha cox praktika daha çox oxumaq və sonda inanılmaz nəticə
                    </p>
                    <ul class="marked-list-skin">
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.2s" style="color:#000">
                            <a href="#">Əvvəlcə alqorimin nə olduğunu dərk etmək</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.4s" style="color:#000">
                            <a href="#">Programlaşdırmanın strukturunu öyrənmək</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="color:#000">
                            <a href="#">Öz üzərində motivasiya ilə işləmək</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.8s" style="color:#000">
                            <a href="#">Daha sonra Obyekt yönlü programlaşdırmanı öyrənmək</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="1.0s" style="color:#000">
                            <a href="#">Ən sonda biliklərinizi möhkəmləndirmək üçün nisbətən çətin tasklar</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="1.2s" style="color:#000">
                            <a href="#">Sonda artıq siz öz program təminatınızı sərbəst qura bilərsiz</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>
    <section class="well2 bg-primary">
        <div class="container center767">
            <h2>
                Bizim komandamiz
            </h2>
            <div class="row offs">
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="/static/images/munis.jpg" alt="Munis Isazade"></a>
                    </div>
                    <h3>
                        <a href="#">Munis Isazade</a>
                    </h3>
                    <p>
                        Full Stack Web developer -
                        Python/ Django developer
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="/static/images/elchin_aliyev.jpg" alt="Elçin Əliyev"></a>
                    </div>
                    <h3>
                        <a href="#">Elçin Əliyev</a>
                    </h3>
                    <p>
                        Software Engineer and Backend Developer -
                        ASP.NET , C# developer
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="/static/images/nadir.jpg" alt="Nadir Əzizov"></a>
                    </div>
                    <h3>
                        <a href="#">Nadir Əzizov</a>
                    </h3>
                    <p>
                        Software Engineer -
                        C# developer
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="/static/images/elchin_hassan.jpg" alt="Həsənov Elçin"></a>
                    </div>
                    <h3>
                        <a href="#">Həsənov Elçin</a>
                    </h3>
                    <p>
                        Software Engineer and Backend Developer -
                        ASP.NET , C# developer
                    </p>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}
