{% extends "index.html" %}
{% load static %}
{% block index %}
<main>
    <section class="well2">
        <div class="container">
            <div class="row">
                <article class="col-md-4 col-sm-12 center767">
                    <h2>
                        Shortly About Us
                    </h2>
                    <div class="thumbnail">
                        <a href="#"><img class="" src="images/page-2_img01.jpg" alt=""></a>
                    </div>
                    <h3 class="text-primary">
                        From the very beginning
                    </h3>
                    <p>
                        Stablished in 1956, Clark County School District is the fifth largest school district in the country,
                        educating almost 75 percent of all students in Nevada with more than 320,000 students enrolled
                        in Kindergarten through 12th grade.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </article>
                <div class="col-md-4  col-sm-6">
                    <h2>
                        Useful Info
                    </h2>
                    <div class="block-icon block-icon__skin">
                        <div class="icon">
                            <span class="material-icons-access_time "></span>
                        </div>
                        <h3 class="text-primary"><a href="#">Our Mission</a></h3>
                        <p>Our responsibility is to prepare every student for success in college, career, and life.</p>
                    </div>
                    <div class="block-icon block-icon__skin">
                        <div class="icon">
                            <span class="material-icons-attach_file"></span>
                        </div>
                        <h3 class="text-primary"><a href="#">Our Vision</a></h3>
                        <p>To be a model of excellence for
                            solving complex educational
                            problems.
                        </p>
                    </div>
                    <div class="block-icon block-icon__skin">
                        <div class="icon">
                            <span class="material-icons-card_giftcard"></span>
                        </div>
                        <h3 class="text-primary"><a href="#"></a>Our Values</h3>
                        <p>We are dedicated to helping you achieve your goals by flexible
                            programs.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h2>
                        Beliefs
                    </h2>
                    <p>
                        Our emphasis is placed on excellence that seeks to instill a desire to keep learning, to be self-motivated and self-disciplined and to believe in one's
                        self-worth.
                    </p>
                    <ul class="marked-list-skin">
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInRight;">
                            <a href="#">The first of the educational process is the student.</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeInRight;">
                            <a href="#">The environment must be caring, healthy, safe.</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeInRight;">
                            <a href="#">The school is an integral part of the community.</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeInRight;">
                            <a href="#">All students are capable of learning.</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="1.0s" style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeInRight;">
                            <a href="#">Families must be actively involved in education.</a>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-duration="2s" data-wow-delay="1.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 1.2s; animation-name: fadeInRight;">
                            <a href="#">Our communities must be active.</a>
                        </li>
                    </ul>
                    <p>The members of the School District governing Board establish policy, hire personnel, develop annual budgets, and plan facilities needed to
                        implement a successful public school program.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="well2 bg-primary">
        <div class="container center767">
            <h2>
                Meet our staff
            </h2>
            <div class="row offs">
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="images/page-2_img02.jpg" alt=""></a>
                    </div>
                    <h3>
                        <a href="#">Mark Johnson</a>
                    </h3>
                    <p>
                        Professor -
                        Educating the nation.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="images/page-2_img03.jpg" alt=""></a>
                    </div>
                    <h3>
                        <a href="#">Olivia Grosh</a>
                    </h3>
                    <p>
                        Budget Manager -
                        Tracking the expenses, income, etc.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="images/page-2_img04.jpg" alt=""></a>
                    </div>
                    <h3>
                        <a href="#">Sam Kromstain</a>
                    </h3>
                    <p>
                        Network Administrator -
                        Running computer studios, dept. of IT, etc.
                    </p>
                </div>
                <div class="col-md-3 col-sm-6 wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeIn;">
                    <div class="thumbnail">
                        <a href="#"><img class="" src="images/page-2_img05.jpg" alt=""></a>
                    </div>
                    <h3>
                        <a href="#">Jessica Priston</a>
                    </h3>
                    <p>
                        Managing Editor -
                        Reporting the latest news
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="well2">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <h2>
                        Overview
                    </h2>
                    <ul class="row index-list">
                        <li>
                            <h3 class="text-primary">
                                <a href="#">
                                Becoming aware
                                </a>
                            </h3>
                            <p>
                                involves early exposure to colleges and careers, interest mapping, guidance
                                lessons and the completion.
                            </p>
                        </li>
                        <li>
                            <h3 class="text-primary">
                                <a href="#">
                                Becoming eligible
                                </a>
                            </h3>
                            <p>
                                involves students completing the
                                necessary steps to proceed with their post-high school choice.
                            </p>
                        </li>
                        <li>
                            <h3 class="text-primary">
                                <a href="#">
                                Becoming prepared
                                </a>
                            </h3>
                            <p>
                                Students will need a well-rounded
                                education in a wide array of subjects, good study and work habits, and the skills.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h2>
                        Careers
                    </h2>
                    <h3 class="text-primary">
                        Instructional Jobs
                    </h3>
                    <p>
                        Instructional jobs include classroom teachers, resource teachers,
                        instructional coaches, guidance
                        counselors, tutors, and many other.
                    </p>
                    <ul class="marked-list-skin">
                        <li><a href="#">Pre-Veterinary/Equine</a></li>
                        <li><a href="#">Biomedical Health Informatics</a></li>
                        <li><a href="#">Information Technology/Animation</a></li>
                        <li><a href="#">Culinary Arts/Hospitality and Tourism</a></li>
                        <li><a href="#">Engineering and Technology</a></li>
                        <li><a href="#">Aerospace Science</a></li>
                        <li><a href="#">Computer Science</a></li>
                        <li><a href="#">JROTC--Air Force, Army, Navy, Marines</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h2>
                        Testimonials
                    </h2>
                    <blockquote class="blockquote__mod">
                        <span>“</span>
                        <p>
                            <q>
                            I love my kids attending the School District. We
                            receive the small town treatment between students, teachers, parents, and even the whole
                            community. Everyone pretty much knows everyone and everyone is there to help push the students.
                            </q>
                        </p>
                        <p class="h3 text-primary"><cite>
                            Eva Adamson, USA
                            </cite>
                        </p>
                    </blockquote>
                    <blockquote class="blockquote__mod">
                        <span>“</span>
                        <p>
                            <q>
                            I am proud my daughters are a part of the School
                            District. Each staff member goes above and beyond to educate my children. The teachers challenge and encourage kids to do the best they can at all levels. My girls love going to school every day!
                            </q>
                        </p>
                        <p class="h3 text-primary"><cite>
                            David Austin, USA
                            </cite>
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
