<html lang="en" class="desktop landscape">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        </script>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <title>Home</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/camera.css" rel="stylesheet">
        <link href="css/jquery.fancybox.css" rel="stylesheet">
        <link href="css/subscribe.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="js/jquery.js"></script>
        <style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <!--[if lt IE 9]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
            </a>
        </div>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        <script src="js/device.min.js"></script>
        <style type="text/css">.fancybox-margin{margin-right:15px;}</style>
    </head>
    <body>
        <div class="page">
            <header class="clearfix">
                <div id="stuck_container" class="stuck_container clearfix">
                    <nav class="navbar navbar-default navbar-static-top clearfix">
                        <div class="container">
                            <div class="navbar-header">
                                <h1 class="navbar-brand">
                                    <a data-type="rd-navbar-brand" href="./">School District
                                    </a>
                                </h1>
                            </div>
                            <ul class="inline-list">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                            </ul>
                            <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                                <li class="active">
                                    <a href="./">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="index-1.html" class="sf-with-ul">About District </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a href="#"> Who we are</a>
                                        </li>
                                        <li>
                                            <a href="#">Departments</a>
                                        </li>
                                        <li>
                                            <a class="act sf-with-ul" href="#">Schools</a>
                                            <ul class="dropdown-menu" style="display: none;">
                                                <li><a href="#">Business Department</a></li>
                                                <li><a href="#">Community Schools</a></li>
                                                <li><a href="#">Curriculum Office</a></li>
                                                <li><a href="#">Federal Programs</a></li>
                                                <li><a href="#">Food Services</a></li>
                                                <li><a href="#">Maintenance and Operations</a></li>
                                                <li><a href="#">Nursing Services</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Staff</a>
                                        </li>
                                        <li>
                                            <a href="#">Calendars &amp; news </a>
                                        </li>
                                        <li>
                                            <a href="#">Useful Links</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index-2.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="index-3.html">News</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="stuck_container" class="stuck_container clearfix isStuck" style="top: -60px; visibility: hidden; position: fixed; width: 100%; margin-top: 0px;">
                    <nav class="navbar navbar-default navbar-static-top clearfix">
                        <div class="container">
                            <div class="navbar-header">
                                <h1 class="navbar-brand">
                                    <a data-type="rd-navbar-brand" href="./">School District
                                    </a>
                                </h1>
                            </div>
                            <ul class="inline-list">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                            </ul>
                            <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                                <li class="active">
                                    <a href="./">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="index-1.html" class="sf-with-ul">About District </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a href="#"> Who we are</a>
                                        </li>
                                        <li>
                                            <a href="#">Departments</a>
                                        </li>
                                        <li>
                                            <a class="act sf-with-ul" href="#">Schools</a>
                                            <ul class="dropdown-menu" style="display: none;">
                                                <li><a href="#">Business Department</a></li>
                                                <li><a href="#">Community Schools</a></li>
                                                <li><a href="#">Curriculum Office</a></li>
                                                <li><a href="#">Federal Programs</a></li>
                                                <li><a href="#">Food Services</a></li>
                                                <li><a href="#">Maintenance and Operations</a></li>
                                                <li><a href="#">Nursing Services</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Staff</a>
                                        </li>
                                        <li>
                                            <a href="#">Calendars &amp; news </a>
                                        </li>
                                        <li>
                                            <a href="#">Useful Links</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index-2.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="index-3.html">News</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <section class="well2">
                    <div class="container">
                        <h2>Contacts</h2>
                        <div class="map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.3674405571523!2d49.84637781468931!3d40.37854826588599!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307da7c3a641cf%3A0x53a5c1e7cc11c36f!2zQXrJmXJiYXljYW4gRMO2dmzJmXQgTmVmdCB2yZkgU8mZbmF5ZSBVbml2ZXJzaXRldGk!5e0!3m2!1saz!2s!4v1486554296251" width="1200" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            <ul class="map_locations">
                                <li data-x="-73.9874068" data-y="40.643180">
                                    <p> 9870 St Vincent Place, Glasgow, DC 45 Fr 45. <span>800 2345-6789</span></p>
                                </li>
                            </ul>
                        </div>
                        <div class="row offs">
                            <div class="col-md-4 col-sm-12 col-xs-12 center991 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                                <h2>Contact Info</h2>
                                <div class="contact-info center991">
                                    <address class="h3 text-primary">4578 Marmora Road,<br/>
                                        Glasgow D04 89GR
                                    </address>
                                    <dl>
                                        <dt>Freephone:</dt>
                                        <dd>
                                            <a href="callto:#"> +1 800 559 6580</a>
                                        </dd>
                                        <dt>FAX:</dt>
                                        <dd>
                                            <a href="callto:#"> +1 800 603 6035</a>
                                        </dd>
                                        <dt>E-mail:</dt>
                                        <dd>
                                            <a href="mailto:#">mail@demolink.org</a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12">
                                <h2>Contact Form</h2>
                                <div class="cform row offs">
                                    <form class='rd-mailform ' method="post" action="bat/rd-mailform.php">
                                        <input type="hidden" name="form-type" value="contact"/>
                                        <div class="form-group col-md-6 col-sm-12 col-xs-12 col_mod">
                                            <label class="form-label" data-add-placeholder for="mailform-input-name">Name</label>
                                            <input id="mailform-input-name" type="text" name="name" data-constraints="@NotEmpty @LettersOnly"/>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-12 col-xs-12 col_mod">
                                            <label class="form-label" data-add-placeholder for="mailform-input-email">Email</label>
                                            <input id="mailform-input-email" type="text" name="email" data-constraints="@NotEmpty @Email"/>
                                        </div>
                                        <div class="form-group textarea col-md-12 col-sm-12 col-xs-12 col_mod">
                                            <label class="form-label" data-add-placeholder for="mailform-input-textarea">Message</label>
                                            <textarea id="mailform-input-textarea" name="message" data-constraints="@NotEmpty"></textarea>
                                        </div>
                                        <div class="form-group btn-wr col-md-12 col-sm-12 col-xs-12 col_mod">
                                            <div class="mfControls">
                                                <button class="btn btn-primary btn-primary__mod" type="submit">Submit</button>
                                                <div class="mfInfo"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <section class="clearfix well4">
                    <div class="container">
                        <div class="contact pull-left">
                            <span class="material-icons-location_on"></span>
                            <address class="h4 text-primary">New York, 4578 Marmora Road, <br>
                                Glasgow D04 89GR
                            </address>
                        </div>
                        <div class="contact pull-right">
                            <span class="material-icons-local_phone"></span>
                            <a href="callto:#">800-2345-6789; </a>
                            <a href="callto:#"> 800-2345-6790</a>
                            <p class="offs">7 days a week from 8:00 am to 7:00 pm</p>
                        </div>
                    </div>
                </section>
                <hr>
                <div class="container">
                    <p class="copyright">
                        <a href="#">School District </a> © <span id="copyright-year">2017</span>.
                        <a class="text-primary" href="index-5.html">Privacy Policy</a>
                    </p>
                </div>
            </footer>
        </div>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/tm-scripts.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/tmstickup.js"></script>
        <script src="js/jquery.ui.totop.js"></script>
        <script src="js/superfish.js"></script>
        <script src="js/jquery.rd-navbar.js"></script>
        <!-- Bu map in scriptidi ancaq bu sehifede istifade ele -->
        <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
        <!-- Bu map in scriptidi ancaq bu sehifede istifade ele -->
        <script src="js/wow.js"></script>
        <script src="js/jquery.mobile.customized.min.js"></script>
        <script src="js/camera.js"></script>
        <script src="js/mailform/jquery.rd-input-label.js"></script>
        <script src="js/mailform/jquery.form.min.js"></script>
        <script src="js/mailform/jquery.rd-mailform.min.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <script src="js/jquery.fancybox-media.js"></script>
        <script src="js/jquery.fancybox-buttons.js"></script>
        <script src="js/jquery.ui.accordion.min.js"></script>
        <script src="js/jquery.rd-parallax.js"></script>
        <!-- End Google Tag Manager -->
        <a href="#" id="toTop" class="toTop fa fa-angle-up" style="display: none;"></a>
        <div class="rd-mobilemenu">
            <ul class="rd-mobilemenu_ul">
                <li class="active"><a href="./">Home</a></li>
                <li>
                    <a href="index-1.html" class="rd-with-ul">About District <span class="rd-submenu-toggle"></span></a>
                    <ul class="rd-mobilemenu_submenu" style="display: none;">
                        <li>
                            <a href="#"> Who we are</a>
                        </li>
                        <li>
                            <a href="#">Departments</a>
                        </li>
                        <li>
                            <a class="act" href="#">Schools</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Business Department</a></li>
                                <li><a href="#">Community Schools</a></li>
                                <li><a href="#">Curriculum Office</a></li>
                                <li><a href="#">Federal Programs</a></li>
                                <li><a href="#">Food Services</a></li>
                                <li><a href="#">Maintenance and Operations</a></li>
                                <li><a href="#">Nursing Services</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Staff</a>
                        </li>
                        <li>
                            <a href="#">Calendars &amp; news </a>
                        </li>
                        <li>
                            <a href="#">Useful Links</a>
                        </li>
                    </ul>
                </li>
                <li><a href="index-2.html">Gallery</a></li>
                <li><a href="index-3.html">News</a></li>
                <li><a href="index-4.html">Contacts</a></li>
            </ul>
        </div>
        <div class="rd-mobilepanel">
            <button class="rd-mobilepanel_toggle"><span></span></button>
            <h2 class="rd-mobilepanel_title">School District</h2>
        </div>
    </body>
</html>