<html lang="en" class="desktop landscape">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        </script>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon">
        <title>Home</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link href="css/camera.css" rel="stylesheet">
        <link href="css/jquery.fancybox.css" rel="stylesheet">
        <link href="css/subscribe.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <script src="js/jquery.js"></script>
        <style type="text/css">.cf-hidden { display: none; } .cf-invisible { visibility: hidden; }</style>
        <script src="js/jquery-migrate-1.2.1.min.js"></script>
        <!--[if lt IE 9]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="https://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
            </a>
        </div>
        <script src="js/html5shiv.js"></script>
        <![endif]-->
        <script src="js/device.min.js"></script>
        <style type="text/css">.fancybox-margin{margin-right:15px;}</style>
    </head>
    <body>
        <div class="page">
            <header class="clearfix">
                <div id="stuck_container" class="stuck_container clearfix">
                    <nav class="navbar navbar-default navbar-static-top clearfix">
                        <div class="container">
                            <div class="navbar-header">
                                <h1 class="navbar-brand">
                                    <a data-type="rd-navbar-brand" href="./">School District
                                    </a>
                                </h1>
                            </div>
                            <ul class="inline-list">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                            </ul>
                            <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                                <li class="active">
                                    <a href="./">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="index-1.html" class="sf-with-ul">About District </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a href="#"> Who we are</a>
                                        </li>
                                        <li>
                                            <a href="#">Departments</a>
                                        </li>
                                        <li>
                                            <a class="act sf-with-ul" href="#">Schools</a>
                                            <ul class="dropdown-menu" style="display: none;">
                                                <li><a href="#">Business Department</a></li>
                                                <li><a href="#">Community Schools</a></li>
                                                <li><a href="#">Curriculum Office</a></li>
                                                <li><a href="#">Federal Programs</a></li>
                                                <li><a href="#">Food Services</a></li>
                                                <li><a href="#">Maintenance and Operations</a></li>
                                                <li><a href="#">Nursing Services</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Staff</a>
                                        </li>
                                        <li>
                                            <a href="#">Calendars &amp; news </a>
                                        </li>
                                        <li>
                                            <a href="#">Useful Links</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index-2.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="index-3.html">News</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div id="stuck_container" class="stuck_container clearfix isStuck" style="top: -60px; visibility: hidden; position: fixed; width: 100%; margin-top: 0px;">
                    <nav class="navbar navbar-default navbar-static-top clearfix">
                        <div class="container">
                            <div class="navbar-header">
                                <h1 class="navbar-brand">
                                    <a data-type="rd-navbar-brand" href="./">School District
                                    </a>
                                </h1>
                            </div>
                            <ul class="inline-list">
                                <li><a class="fa fa-facebook" href="#"></a></li>
                                <li><a class="fa fa-twitter" href="#"></a></li>
                                <li><a class="fa fa-google-plus" href="#"></a></li>
                            </ul>
                            <ul class="navbar-nav sf-menu sf-js-enabled sf-arrows" data-type="navbar">
                                <li class="active">
                                    <a href="./">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="index-1.html" class="sf-with-ul">About District </a>
                                    <ul class="dropdown-menu" style="display: none;">
                                        <li>
                                            <a href="#"> Who we are</a>
                                        </li>
                                        <li>
                                            <a href="#">Departments</a>
                                        </li>
                                        <li>
                                            <a class="act sf-with-ul" href="#">Schools</a>
                                            <ul class="dropdown-menu" style="display: none;">
                                                <li><a href="#">Business Department</a></li>
                                                <li><a href="#">Community Schools</a></li>
                                                <li><a href="#">Curriculum Office</a></li>
                                                <li><a href="#">Federal Programs</a></li>
                                                <li><a href="#">Food Services</a></li>
                                                <li><a href="#">Maintenance and Operations</a></li>
                                                <li><a href="#">Nursing Services</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Staff</a>
                                        </li>
                                        <li>
                                            <a href="#">Calendars &amp; news </a>
                                        </li>
                                        <li>
                                            <a href="#">Useful Links</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="index-2.html">Gallery</a>
                                </li>
                                <li>
                                    <a href="index-3.html">News</a>
                                </li>
                                <li>
                                    <a href="index-4.html">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <main>
                <section class="well2">
                    <div class="container">
                        <h2>Our Gallery</h2>
                        <div class="gallery-wr offs clearfix gallery-wr__mod">
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.2s" data-fancybox-group="2" href="images/page-3_img01_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
                            <img src="images/page-3_img01.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.4s" data-fancybox-group="2" href="images/page-3_img02_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
                            <img src="images/page-3_img02.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.6s" data-fancybox-group="2" href="images/page-3_img03_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
                            <img src="images/page-3_img03.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.8s" data-fancybox-group="2" href="images/page-3_img04_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeIn;">
                            <img src="images/page-3_img04.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.0s" data-fancybox-group="2" href="images/page-3_img05_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                            <img src="images/page-3_img05.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.2s" data-fancybox-group="2" href="images/page-3_img06_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.2s; animation-name: fadeIn;">
                            <img src="images/page-3_img06.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.4s" data-fancybox-group="2" href="images/page-3_img07_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.4s; animation-name: fadeIn;">
                            <img src="images/page-3_img07.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="parallax parallax2 well5" data-url="images/parallax2.jpg" data-mobile="true">
                    <div class="parallax_image" style="background-image: url(&quot;images/parallax2.jpg&quot;); background-color: inherit; height: 724px; transform: translate3d(0px, -97.4593px, 0px);"></div>
                    <div class="parallax_cnt">
                        <div class="container text-right center767 wow fadeInLeft animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h1>Providing safe and <br>
                                educational environment!
                            </h1>
                            <p>The district has 21 elementary schools including 3 magnet elementary schools, 7 middle schools including 2 magnet
                                <br> middle schools and 1 charter middle school, and 6 high schools including 1 magnet high school, and 1 charter high school.
                            </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </section>
                <section class="well2">
                    <div class="container">
                        <h2>Featured Photos</h2>
                        <div class="gallery-wr  offs clearfix gallery-wr__mod2">
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.4s" data-fancybox-group="3" href="images/page-3_img08_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.4s; animation-name: fadeIn;">
                            <img src="images/page-3_img08.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.2s" data-fancybox-group="3" href="images/page-3_img09_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.2s; animation-name: fadeIn;">
                            <img src="images/page-3_img09.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.0s" data-fancybox-group="3" href="images/page-3_img10_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                            <img src="images/page-3_img10.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.8s" data-fancybox-group="3" href="images/page-3_img11_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeIn;">
                            <img src="images/page-3_img11.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.6s" data-fancybox-group="3" href="images/page-3_img12_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
                            <img src="images/page-3_img12.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.4s" data-fancybox-group="3" href="images/page-3_img13_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
                            <img src="images/page-3_img13.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.2s" data-fancybox-group="3" href="images/page-3_img14_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
                            <img src="images/page-3_img14.jpg" alt="">
                            <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                        </div>
                    </div>
                </section>
                <section class="well2 bg-primary">
                    <div class="container">
                        <h2>Latest Videos</h2>
                        <div class="row offs">
                            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <a class="thumb thumb__mod fancybox.iframe" href="//player.vimeo.com/video/37582125?wmode=transparent">
                                <img src="images/page-3_img15.jpg" alt="">
                                <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                                </a>
                                <h3>Student &amp; Family Handbook</h3>
                                <p>Local author, Susan Beattie, visited Elementary School today with Luke, her rescue dog. She shared her book, Luke’s Story, explained to the students... </p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <a class="thumb thumb__mod fancybox.iframe" href="//player.vimeo.com/video/37582125?wmode=transparent">
                                <img src="images/page-3_img16.jpg" alt="">
                                <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                                </a>
                                <h3>Pic of the Day</h3>
                                <p>The largest group of students in school history has qualified for the DECA state competition in March. Eleven of Mrs. Melissa Basinger’s students...</p>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <footer>
                <section class="clearfix well4">
                    <div class="container">
                        <div class="contact pull-left">
                            <span class="material-icons-location_on"></span>
                            <address class="h4 text-primary">New York, 4578 Marmora Road, <br>
                                Glasgow D04 89GR
                            </address>
                        </div>
                        <div class="contact pull-right">
                            <span class="material-icons-local_phone"></span>
                            <a href="callto:#">800-2345-6789; </a>
                            <a href="callto:#"> 800-2345-6790</a>
                            <p class="offs">7 days a week from 8:00 am to 7:00 pm</p>
                        </div>
                    </div>
                </section>
                <hr>
                <div class="container">
                    <p class="copyright">
                        <a href="#">School District </a> © <span id="copyright-year">2017</span>.
                        <a class="text-primary" href="index-5.html">Privacy Policy</a>
                    </p>
                </div>
            </footer>
        </div>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/tm-scripts.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/jquery.easing.1.3.js"></script>
        <script src="js/tmstickup.js"></script>
        <script src="js/jquery.ui.totop.js"></script>
        <script src="js/superfish.js"></script>
        <script src="js/jquery.rd-navbar.js"></script>
        <script src="js/wow.js"></script>
        <script src="js/jquery.mobile.customized.min.js"></script>
        <script src="js/camera.js"></script>
        <script src="js/mailform/jquery.rd-input-label.js"></script>
        <script src="js/mailform/jquery.form.min.js"></script>
        <script src="js/mailform/jquery.rd-mailform.min.js"></script>
        <script src="js/jquery.fancybox.js"></script>
        <script src="js/jquery.fancybox-media.js"></script>
        <script src="js/jquery.fancybox-buttons.js"></script>
        <script src="js/jquery.ui.accordion.min.js"></script>
        <script src="js/jquery.rd-parallax.js"></script>
        <!-- End Google Tag Manager -->
        <a href="#" id="toTop" class="toTop fa fa-angle-up" style="display: none;"></a>
        <div class="rd-mobilemenu">
            <ul class="rd-mobilemenu_ul">
                <li class="active"><a href="./">Home</a></li>
                <li>
                    <a href="index-1.html" class="rd-with-ul">About District <span class="rd-submenu-toggle"></span></a>
                    <ul class="rd-mobilemenu_submenu" style="display: none;">
                        <li>
                            <a href="#"> Who we are</a>
                        </li>
                        <li>
                            <a href="#">Departments</a>
                        </li>
                        <li>
                            <a class="act" href="#">Schools</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Business Department</a></li>
                                <li><a href="#">Community Schools</a></li>
                                <li><a href="#">Curriculum Office</a></li>
                                <li><a href="#">Federal Programs</a></li>
                                <li><a href="#">Food Services</a></li>
                                <li><a href="#">Maintenance and Operations</a></li>
                                <li><a href="#">Nursing Services</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Staff</a>
                        </li>
                        <li>
                            <a href="#">Calendars &amp; news </a>
                        </li>
                        <li>
                            <a href="#">Useful Links</a>
                        </li>
                    </ul>
                </li>
                <li><a href="index-2.html">Gallery</a></li>
                <li><a href="index-3.html">News</a></li>
                <li><a href="index-4.html">Contacts</a></li>
            </ul>
        </div>
        <div class="rd-mobilepanel">
            <button class="rd-mobilepanel_toggle"><span></span></button>
            <h2 class="rd-mobilepanel_title">School District</h2>
        </div>
    </body>
</html>