{% extends "index.html" %}
{% block index %}
  <main>
      <section class="well2">
          <div class="container">
              <h2>Our Gallery</h2>
              <div class="gallery-wr offs clearfix gallery-wr__mod">
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.2s" data-fancybox-group="2" href="images/page-3_img01_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
                  <img src="images/page-3_img01.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.4s" data-fancybox-group="2" href="images/page-3_img02_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
                  <img src="images/page-3_img02.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.6s" data-fancybox-group="2" href="images/page-3_img03_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
                  <img src="images/page-3_img03.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.8s" data-fancybox-group="2" href="images/page-3_img04_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeIn;">
                  <img src="images/page-3_img04.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.0s" data-fancybox-group="2" href="images/page-3_img05_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                  <img src="images/page-3_img05.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.2s" data-fancybox-group="2" href="images/page-3_img06_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.2s; animation-name: fadeIn;">
                  <img src="images/page-3_img06.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.4s" data-fancybox-group="2" href="images/page-3_img07_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.4s; animation-name: fadeIn;">
                  <img src="images/page-3_img07.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
              </div>
          </div>
      </section>
      <section class="parallax parallax2 well5" data-url="images/parallax2.jpg" data-mobile="true">
          <div class="parallax_image" style="background-image: url(&quot;images/parallax2.jpg&quot;); background-color: inherit; height: 724px; transform: translate3d(0px, -97.4593px, 0px);"></div>
          <div class="parallax_cnt">
              <div class="container text-right center767 wow fadeInLeft animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInLeft;">
                  <h1>Providing safe and <br>
                      educational environment!
                  </h1>
                  <p>The district has 21 elementary schools including 3 magnet elementary schools, 7 middle schools including 2 magnet
                      <br> middle schools and 1 charter middle school, and 6 high schools including 1 magnet high school, and 1 charter high school.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
              </div>
          </div>
      </section>
      <section class="well2">
          <div class="container">
              <h2>Featured Photos</h2>
              <div class="gallery-wr  offs clearfix gallery-wr__mod2">
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.4s" data-fancybox-group="3" href="images/page-3_img08_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.4s; animation-name: fadeIn;">
                  <img src="images/page-3_img08.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.2s" data-fancybox-group="3" href="images/page-3_img09_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1.2s; animation-name: fadeIn;">
                  <img src="images/page-3_img09.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="1.0s" data-fancybox-group="3" href="images/page-3_img10_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 1s; animation-name: fadeIn;">
                  <img src="images/page-3_img10.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.8s" data-fancybox-group="3" href="images/page-3_img11_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.8s; animation-name: fadeIn;">
                  <img src="images/page-3_img11.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.6s" data-fancybox-group="3" href="images/page-3_img12_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.6s; animation-name: fadeIn;">
                  <img src="images/page-3_img12.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.4s" data-fancybox-group="3" href="images/page-3_img13_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeIn;">
                  <img src="images/page-3_img13.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
                  <a class="thumb wow fadeIn animated" data-wow-duration="2s" data-wow-delay="0.2s" data-fancybox-group="3" href="images/page-3_img14_original.jpg" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeIn;">
                  <img src="images/page-3_img14.jpg" alt="">
                  <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                  </a>
              </div>
          </div>
      </section>
      <section class="well2 bg-primary">
          <div class="container">
              <h2>Latest Videos</h2>
              <div class="row offs">
                  <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="2s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.2s; animation-name: fadeInUp;">
                      <a class="thumb thumb__mod fancybox.iframe" href="//player.vimeo.com/video/37582125?wmode=transparent">
                      <img src="images/page-3_img15.jpg" alt="">
                      <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                      </a>
                      <h3>Student &amp; Family Handbook</h3>
                      <p>Local author, Susan Beattie, visited Elementary School today with Luke, her rescue dog. She shared her book, Luke’s Story, explained to the students... </p>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp animated" data-wow-duration="2s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.4s; animation-name: fadeInUp;">
                      <a class="thumb thumb__mod fancybox.iframe" href="//player.vimeo.com/video/37582125?wmode=transparent">
                      <img src="images/page-3_img16.jpg" alt="">
                      <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                      </a>
                      <h3>Pic of the Day</h3>
                      <p>The largest group of students in school history has qualified for the DECA state competition in March. Eleven of Mrs. Melissa Basinger’s students...</p>
                  </div>
              </div>
          </div>
      </section>
  </main>
{% endblock %}
