 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>League - Soccer & Football Multipurpose Mobile Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1 user-scalable=no">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div class="navbar">
            <div class="container">
                <div class="panel-control-left"><a href="#" data-activates="slide-out-left" class="sidenav-control-left"><i class="fa fa-bars"></i></a></div>
                <div class="site-title">
                    <a href="index.html" class="logo">
                        <h1>League</h1>
                    </a>
                </div>
                <div class="panel-control-right"><a href="news.html"><i class="fa fa-newspaper-o"></i></a></div>
            </div>
        </div>
        <div class="panel-control-left">
            <ul id="slide-out-left" class="side-nav collapsible" data-collapsible="accordion">
                <li><a href="index.html"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="standings.html"><i class="fa fa-table"></i>Standings</a></li>
                <li><a href="schedule.html"><i class="fa fa-calendar"></i>Schedule</a></li>
                <li><a href="result.html"><i class="fa fa-calendar-check-o"></i>Results</a></li>
                <li><a href="top-scorers.html"><i class="fa fa-support"></i>Top Scorers</a></li>
                <li><a href="club.html"><i class="fa fa-star"></i>Profile Club</a></li>
                <li><a href="players.html"><i class="fa fa-user"></i>Profile Players</a></li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-file-text-o"></i>News <span><i class="fa fa-chevron-right"></i></span></div>
                    <div class="collapsible-body">
                        <ul class="side-nav-panel">
                            <li><a href="news.html">News</a></li>
                            <li><a href="news-single.html">News Single</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-shopping-cart"></i>Shop <span><i class="fa fa-chevron-right"></i></span></div>
                    <div class="collapsible-body">
                        <ul class="side-nav-panel">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="product-details.html">Product Details</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="fa fa-file-powerpoint-o"></i>Pages <span><i class="fa fa-chevron-right"></i></span></div>
                    <div class="collapsible-body">
                        <ul class="side-nav-panel">
                            <li><a href="faq.html">Faq</a></li>
                            <li><a href="testimonial.html">Testimonial</a></li>
                            <li><a href="404.html">404 Page</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="contact.html"><i class="fa fa-envelope"></i>Contact Us</a></li>
                <li><a href="login.html"><i class="fa fa-sign-in"></i>Login</a></li>
                <li><a href="register.html"><i class="fa fa-user-plus"></i>Register</a></li>
            </ul>
        </div>
        <div class="slider-slick app-pages">
            <div class="slider-entry">
                <img src="{% static 'img/slider1.png' %}" alt="">
                <div class="overlay"></div>
                <div class="caption">
                    <div class="container">
                        <h2>Beatiful Stadiums</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a class="button" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="slider-entry">
                <div class="overlay"></div>
                <img src="{% static 'img/slider2.png' %}" alt="">
                <div class="caption">
                    <div class="container">
                        <h2>Football Tips & Trick</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a class="button" href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="slider-entry">
                <div class="overlay"></div>
                <img src="{% static 'img/slider3.png' %}" alt="">
                <div class="caption">
                    <div class="container">
                        <h2>Players Free Kick</h2>
                        <p>Lorem ipsum dolor sit amet</p>
                        <a class="button" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="latest-result app-section app-section-top">
            <div class="container">
                <div class="app-title">
                    <h4>Latest Result</h4>
                    <div class="line"></div>
                </div>
                <ul class="score">
                    <li><img src="{% static 'img/club1.png' %}" alt=""></li>
                    <li>0</li>
                    <li>:</li>
                    <li>2</li>
                    <li><img src="{% static 'img/club2.png' %}" alt=""></li>
                </ul>
                <ul class="club-title">
                    <li>Lorem FC</li>
                    <li>VS</li>
                    <li>Dolor FC</li>
                </ul>
                <ul class="stadium">
                    <li>Lorem Stadium</li>
                </ul>
                <ul class="date">
                    <li>Mon 15 Aug 2016 20:00</li>
                </ul>
            </div>
        </div>
        <div class="latest-match app-section app-bg-dark">
            <div class="container">
                <div class="app-title">
                    <h4>Latest Match</h4>
                    <div class="line"></div>
                </div>
                <ul class="score">
                    <li><img src="{% static 'img/club3.png' %}" alt=""></li>
                    <li>:</li>
                    <li><img src="{% static 'img/club4.png' %}" alt=""></li>
                </ul>
                <ul class="club-title">
                    <li>Lorem FC</li>
                    <li>VS</li>
                    <li>Dolor FC</li>
                </ul>
                <ul class="stadium">
                    <li>Dolor Stadium</li>
                </ul>
                <ul class="date">
                    <li>Sat 18 Dec 2017 21:00</li>
                </ul>
                <button class="button">Buy Tickets</button>
            </div>
        </div>
        <div class="latest-news app-section">
            <div class="container">
                <div class="app-title">
                    <h4>Latest News</h4>
                    <div class="line"></div>
                </div>
                <div class="row">
                    <div class="col s6">
                        <div class="entry">
                            <img src="{% static 'img/news1.png' %}" alt="">
                            <div class="content">
                                <h6><a href="#">Best 10 Stadiums</a></h6>
                                <span>2 Dec 2016</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="entry">
                            <img src="{% static 'img/news2.png' %}" alt="">
                            <div class="content">
                                <h6><a href="#">Tips and Trick</a></h6>
                                <span>2 Dec 2016</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row not-margin">
                    <div class="col s6">
                        <div class="entry">
                            <img src="{% static 'img/news3.png' %}" alt="">
                            <div class="content">
                                <h6><a href="#">Top 10 Goals 2017</a></h6>
                                <span>2 Dec 2016</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="entry">
                            <img src="{% static 'img/news4.png' %}" alt="">
                            <div class="content">
                                <h6><a href="#">Top 10 Stadiums</a></h6>
                                <span>2 Dec 2016</span>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <h6>Find & follow us</h6>
                <ul class="icon-social">
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="google"><a href="#"><i class="fa fa-google"></i></a></li>
                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li class="rss"><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
                <div class="tel-fax-mail">
                    <ul>
                        <li><span>Tel:</span> 900000o02</li>
                        <li><span>Fax:</span> 0400000o98</li>
                        <li><span>Email:</span> info@youremail.com</li>
                    </ul>
                </div>
                <div class="ft-bottom"><span>Copyright © 2016 All Rights Reserved </span></div>
            </div>
        </footer>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/materialize.min.js' %}"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
    <!-- Mirrored from rabonadev.com/league/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 01 Mar 2017 11:26:19 GMT -->
</html>